__pycache__/
.idea/

data/
data-old/
checkpoints/
renders/
renders-old/
logs/
wandb/
temp/
demos/
networks/**/*.jpg
networks/**/*.png
networks/**/*.pt
visualizations/
!visualizations/*.css
tmp/
language/
denoise_fn.py

*.gv
*.zip
*.mp4
*.ply

Jacinle/